<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Drivers Page</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Drivers Page</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<div class="col-12" v-if="conditionAddSection">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title" v-if="isEditSection">Edit Driver</h3>
      <h3 class="card-title" v-else>Add Driver</h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove" @click="closeAddSection">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>

    <div class="card-body">
      <div class="form-group">
        <label>Slug</label>
        <input type="text" class="form-control" placeholder="Enter slug" v-model="editSectionSlug">
      </div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Enter name" v-model="editSectionName">
      </div>
    </div>

    <div class="card-footer">
      <button type="submit" class="btn btn-primary" v-if="isEditSection" @click="submitEditAction">Edit</button>
      <button type="submit" class="btn btn-primary" v-else @click="submitAddAction">Add</button>
    </div>
  </div>
</div>



<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title pt-2">Drivers Table</h3>
      <button type="submit" class="btn btn-primary float-right" @click="showAddSection">Add Driver</button>
    </div>

    <div class="card-body table-responsive p-0">
      <table class="table table-hover text-nowrap">
        <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        <tr
            v-for="driver in driversList"
            :key="driver.id"
        >
          <td>{{ driver.name }}</td>
          <td>
            <button type="button" class="btn btn-outline-info btn-sm" @click="callEditProcess(driver.id)">Edit</button>
            <button type="button" class="btn btn-outline-danger btn-sm ml-3" @click="callDeleteProcess(driver.id)">Delete</button>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- /.content -->
<div class="modal" style="display: block;" v-if="showDeleteDialogue">
  <div class="modal-dialog">
    <div class="modal-content bg-danger">
      <div class="modal-header">
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <p>Delete Driver {{ deletingDriver.name }}</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-light" @click="closeDeleteDialogue">Close</button>
        <button type="button" class="btn btn-outline-light" @click="submitDeleteAction">Delete</button>
      </div>
    </div>

  </div>
</div>
