<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Fuellings Page</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Fuellings Page</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<div class="col-12" v-if="pageState.showAddEditSection">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{{ pageState.isEditSection ? 'Edit' : 'Add'}} fuelling</h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove" @click="closeAddSection">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>

    <div class="card-body">
      <div class="form-group">
        <label>Driver</label>
        <select class="custom-select" v-model="pageState.editSectionData.driver_id">
          <option value="" selected disabled>Select</option>
          <option v-for="driver in driversList" :key="driver.id" :value="driver.id">{{driver.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Car</label>
        <select class="custom-select" v-model="pageState.editSectionData.car_id" @change="setFuelType">
          <option value="" selected disabled>Select</option>
          <option v-for="car in carsList" :key="car.id" :value="car.id">{{car.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Amount</label>
        <input type="text" class="form-control" placeholder="Enter amount(litres)" v-model="pageState.editSectionData.amount">
      </div>
      <div class="form-group">
        <label>Fuel Type</label>
        <select class="custom-select" v-model="pageState.editSectionData.fuel_type" disabled>
          <option value="" selected disabled>Select</option>
          <option value="gas_oil">Gas Oil</option>
          <option value="gasoline">Gasoline</option>
        </select>
      </div>

    </div>

    <div class="card-footer">
      <button type="submit" class="btn btn-primary" v-if="pageState.isEditSection" @click="submitEditAction">Edit</button>
      <button type="submit" class="btn btn-primary" v-else @click="submitAddAction">Add</button>
    </div>
  </div>
</div>



<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title pt-2">Fuellings Table</h3>
             <button type="submit" class="btn btn-primary float-right" @click="initAddProcess">Add Fuelling</button>
        </div>

        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Driver</th>
                    <th>Car</th>
                    <th>Fuel Type</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr
                    v-for="fuelling in pageState.fuellingsList"
                    :key="fuelling.id"
                >
                    <td>{{ fuelling.date }}</td>
                    <td>{{ fuelling.driver.name }}</td>
                    <td>{{ fuelling.car.name }}</td>
                    <td>{{ fuelling.fuel_type }}</td>
                    <td>{{ fuelling.amount }}</td>
                    <td>
                      <button type="button" class="btn btn-outline-info btn-sm" @click="initEditProcess(fuelling.id)">Edit</button>
                      <button type="button" class="btn btn-outline-danger btn-sm ml-3" @click="initDeleteProcess(fuelling.id)">Delete</button>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- /.content -->
<div class="modal" style="display: block;" v-if="pageState.showDeleteDialogue">
  <div class="modal-dialog">
    <div class="modal-content bg-danger">
      <div class="modal-header">
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <p>Delete Fuel Entry From {{ pageState.deletingItem.date }} for {{ pageState.deletingItem.amount }} litres
          of {{ pageState.deletingItem.fuel_type }}. ({{pageState.deletingItem.driver}} charged {{pageState.deletingItem.car}})</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-light" @click="closeDeleteDialogue">Close</button>
        <button type="button" class="btn btn-outline-light" @click="submitDeleteAction">Delete</button>
      </div>
    </div>

  </div>
</div>

